/* font */
@import url('https://fonts.googleapis.com/css?family=Archivo:500,700');

body {
    background-color: #1B2535;
    color: #FFFCDB;
}
footer {
    margin-bottom: 0;
    background-color: #233D4A;
    padding: 2rem;
}
hr {
    border-color: beige;
}
.title {
    color: #FFFCF4;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
    font-size: 3rem;
    display: inline-block;
}

/* Checks for the screen size and applies the new css if it is true */
@media (max-width: 900px) {
    /* Need to use !important to make sure the other rules 
    are overruled */
    .typing-effect {
        white-space: normal !important;
        overflow: visible !important;
        animation: none !important;
        width: 100% !important;
    }
    #Space_Journey_Game {
        display: none;
    }
}
@media (min-width: 900px) and (max-width: 1200px){
    /* Need to use !important to make sure the other rules 
    are overruled */
    .title {
        font-size: 2.4rem !important;
    }
    #Space_Journey_Game {
        display: none;
    }
}

/* landing page */
.main-jumbotron {
    background-image: url("Images/landing-jumbotron-2.jpg");
    background-size: cover;
    height: 40rem;
}

/* about me page */
.carousel {
    margin-bottom: 2rem;
}
.about-me-description {
    font-size: 1.15rem;
    font-family: "Roboto Mono", sans-serif;
}

/* resume page */
.resume-jumbotron {
    background-image: url('Images/resume-jumbotron.jpg');
    background-size: cover;
    height: 23rem;
}
.resume {
    margin-bottom: 1rem;
    padding: 2rem;
}
.resume-section {
    margin: 2rem;
}
.resume-section-info {
    background-color: #479A9C;
    box-shadow: 3px 3px beige;
    padding-top: 0.5rem;
}
.resume-section-info p, li {
    color: beige;
}

/* projects page */
.projects-jumbotron {
    background-image: url("Images/projects-jumbotron-3.jpg");
    background-size: cover;
    height: 35rem;
}
.project {
    padding: 3.5rem 3.5rem;
    margin-bottom: 3rem;
    background-color: #2A3952;
    box-shadow: 2px 2px teal;
}
.Projects_game_start_btn {
    z-index:1; 
    padding: 1.5rem;
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
}
/* contact me page */
.about-me-jumbotron {
    background-image: url('Images/contact-me-jumbotron-2.jpg');
    background-size: cover;
    height: 25rem;
}
/* animations */
.typing-effect {
    white-space: nowrap;
    border-right: 0.15em solid transparent;
    margin: 0 auto;
    /* only displays what is on the line */
    overflow: hidden;
    /* steps breaks the animation into 30 sections so it looks like typing */
    animation: 
        typing 3.5s steps(30, end) forwards,
        blinking-cursor .5s step-end 6.5;
    animation-delay: 1s;
    width: 0;
}

/* two different animations, for typing and the blinking cursor */
@keyframes typing {
    /*Slowly increases the width */
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking-cursor {
    /* changes color from transparent to white */
  from, to { border-color: transparent }
  50% { border-color: white }
}