/* font */

@import url('https://fonts.googleapis.com/css?family=Archivo:500,700');

hr {
    border-color: grey;
}

nav {
    background-color: #30353B !important;
}

/* Checks for the screen size and applies the new css if it is true */

@media only screen and (max-width: 900px) {
    /* Need to use !important to make sure the other rules 
    are overruled */
    .typing-effect {
        white-space: normal !important;
        overflow: visible !important;
        animation: none !important;
        width: 100% !important;
    }
    #Space_Journey_Game {
        display: none;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    /* Need to use !important to make sure the other rules 
    are overruled */
    .title {
        font-size: 2.4rem !important;
    }
    #Space_Journey_Game {
        display: none;
    }
}

/* landing page */

.carousel-caption.title-text {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-item {
    height: 40rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 45rem;
}

.index-card {
    background-color: #454D59;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

/* about me page */


.about-me-section a {
    color: #CCC;
}

.about-me-jumbotron {
    background-size: cover;
    width: 100%;
    height: 31rem;
}

.about-me-section hr {
    border-color: #ddd;
}

.about-me-img {
    position: relative;
    left: 50%;
    bottom: 49%;
}

.about-me-description {
    font-size: 1.12rem;
    font-family: "Roboto Mono", sans-serif;
}

/* resume page */

.resume-jumbotron {
    background-size: cover;
    height: 20rem;
}

.resume-section {
    padding: 0 1rem;
}

.resume {
    margin-bottom: 1rem;
    padding: 2rem;
}

/* projects page */

.projects-jumbotron {
    height: 20rem;
}

#myTabContent {
    background-color: #454D59;
}

.Projects_game_start_btn {
    z-index: 1;
    padding: 1.5rem;
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
}

/* contact me page */

.contact-me-jumbotron {
    height: 20rem;
}
